<%- layout('layouts/boilerplate') %>
    <form method="post" action="/admin" enctype="application/x-www-form-urlencoded">
        <input name="email" placeholder="email" required>
        <input name="type" placeholder="type" required>
        <button type="submit">Submit</button>
    </form>