<%- layout('layouts/boilerplate') %>
<div style="background-color: #ededed;margin-top: 50px;box-shadow: 2px 2px #b5b5b5;height: 70vh;width: 90%; margin-left: 1%;">
    <div style="display: flex;"> 
    <h1 style="padding: 20px;"><%= %></h1>
    <h4 style="padding-left: 80%;padding-top:30px;">DATE</h4>
    </div>
    <h3 style="padding-left: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nulla cupiditate reiciendis libero? Deleniti dicta molestiae eveniet tempora eum voluptatem odit nulla, autem dolor a nemo blanditiis ducimus accusamus hic!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed omnis corporis perspiciatis eligendi iusto corrupti dolorum ducimus consectetur libero. Quae deleniti, modi accusantium expedita in consectetur distinctio illum voluptatum aliquid.
    </h3>
    <div style="background-color: #cfcfcf;margin:20px;padding: 5px; height: 40px; width: 10%;border-radius: 3px;box-shadow: 5px 5px #000;">ATTACHEMENT</div>
    <h4 style="padding-left: 20px;">STATUS : </h4>    
</div>