<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>OAS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <link rel="shortcut icon" href="img/iit_Mandi_logo.png">
    <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/themes.css">
    <!-- END Stylesheets -->

    <!-- Modernizr & Respond.js -->
    <script src="js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    <style>
        .widget-simple {
            height: 150px; /* Adjust the height as needed */
        }
    </style>
</head>

<body>
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <div id="main-container">
            <div id="page-content" style="height: 100%;">

                <div class="content-header">
                    <div class="header-section">
                        <img src="img/iit_Mandi_logo.png" style="width: 95px" />
                        <ul class="nav navbar-nav-custom pull-right">
                            <li>
                                <h1><a style="color: #394263; font-size: 20px; padding-right: 20px;">Office Automation System </a></h1>
                                <h4 class="widget-content text-right animation-hatch" style="padding-right: 20px;">
                                    <a style="color: #D5131F;" href="https://oas.iitmandi.ac.in/HelpManuals/Common/Login.aspx">
                                        <i class="fa fa-question-circle"></i> <u>Help Documents </u>
                                    </a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-advanced" style="height: 150px;">
                                <div class="widget-header text-center themed-background-dark">
                                    <h3 class="widget-content-light">
                                        <a href="#">Greetings</a><br>
                                        <small>Welcome to OAS!</small>
                                    </h3>
                                </div>
                                <div class="widget-main">
                                    <a class="widget-image-container animation-fadeIn" href="#">
                                        <span class="widget-icon themed-background-default"><i class="fa fa-globe"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget">
                                    <div class="widget-simple">
                                        <a class="widget-icon pull-left animation-fadeIn themed-background" href="javascript:void(0)">
                                            <i class="gi gi-user"></i>
                                        </a>
                                        <h4 class="widget-content text-right animation-hatch">
                                            <a href="https://oas.iitmandi.ac.in/employee/pagemanager.aspx">Faculty and Staff <strong></strong></a>
                                            <small></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="widget">
                                    <div class="widget-simple">
                                        <a class="widget-icon pull-left animation-fadeIn themed-background-fire" href="javascript:void(0)">
                                            <i class="gi gi-user"></i>
                                        </a>
                                        <h4 class="widget-content text-right animation-hatch">
                                            <a href="https://oas.iitmandi.ac.in/student">Student Portal<strong></strong></a>
                                            <small><span style="color: red;">click here for Monthly Scholarship</span></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget">
                                    <div class="widget-simple">
                                        <a class="widget-icon pull-left animation-fadeIn themed-background-fancy" href="javascript:void(0)">
                                            <i class="gi gi-user"></i>
                                        </a>
                                        <h4 class="widget-content text-right animation-hatch">
                                            <a href="https://oas.iitmandi.ac.in/instituteprocess/common/login.aspx">Institute Process Solution<strong></strong></a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="widget">
                                    <div class="widget-simple">
                                        <a class="widget-icon pull-left animation-fadeIn themed-background-fancy" href="javascript:void(0)">
                                            <i class="gi gi-user"></i>
                                        </a>
                                        <h4 class="widget-content text-right animation-hatch">
                                            <a href="https://oas.iitmandi.ac.in/OASGuestHouse/Common/Login.aspx">Guest House <strong></strong></a>
                                            <small></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="block-title">
                        <h2><strong>Integrated with</strong> </h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn btn-lg btn-primary btn-block" href="#">Tally <i class="fa fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>

                <footer class="clearfix">
                    <div class="pull-right">
                        Powered by <a href="#" target="_blank">iProof</a>
                    </div>
                    <div class="pull-left">
                        Supported Browser <a href="#" target="_blank">Firefox | Chrome</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>
